*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2f3144;
    display: flex;
    justify-content: center;
    align-items: center;
}


#conatiner-main {
    height: fit-content;
    min-height:100vh;
    width: 1200px;
    border-radius: 15px;
    background-color:#3b4271;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 60px;
    margin:80px auto ;

}
#form_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#form_heading>h1{
    margin-top: 40px;
}
#SearchBox{
    background-color: #282b4d;
   width: 600px;
    /* todo change during @media */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2a2d50;
    box-shadow: 0px -5px 4px #1d1d36;
    border-radius: 10px;
}
#SearchBox input{
    flex-grow: 1;
    height: 40px;
    background-color: #2a2d50;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(144, 144, 144);
    font-size: 20px;
    padding: 10px;
}

#SearchBox input:focus{
    outline: none;
}
#SearchBox span{
  width: 30px;
  background-color: #2a2d50;
  padding: 10px;
  color: rgb(144, 144, 144);
   border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    /* todo change during @media */
}

button{
    padding: 12px 24px;
    background-color: #403570;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#weatherInfoConatiner{
    width: 100%;
    gap: 20px;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* weather info of cities */

#weatherInfoConatiner {
    width: 100%;
    padding: 80px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cityInfo {
    display: flex;
    position: relative;
}

.cityInfo>i {
    position: absolute;
    right: 0px;
    font-size: 100px;
}

.city {
    /* shape */
    width: 300px;
    height: 180px;
    clip-path: polygon(0 -14%, 100% 46%, 100% 100%, 0% 100%);
    background: linear-gradient(to right, #5735b2,#382a87);
    color: #ffffff;
    border-radius: 40px;
    /* inside content */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:30px;
    /* ! change @media */
   

}
.info1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info1 h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.info1 p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(181, 180, 180);
}

.info1 h4{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.info2>p{
  color: rgb(195, 193, 193);
  font-size: 20px;
  font-weight: 300;
}


@media only screen and (max-width:1200px) and (min-width:1000px){
#conatiner-main {
    width: 900px;
}
#weatherInfoConatiner {
    width: 100%;
    padding: 40px 10px;

}
.info1 h1 {
    font-size: 23px;
    margin-bottom: 5px;
}
.cityInfo>i{
    font-size: 60px;
}
}
@media only screen and (max-width:1000px) and (min-width:745px) {
    #conatiner-main {
        width: 700px;
    }

    #weatherInfoConatiner {
        width: 100%;
        padding: 40px 10px;
    }
    #SearchBox{
        width: 400px;
    }
    #weatherInfoConatiner {
        width: 100%;
        padding: 40px 10px;
    }
    .city {
      width: 250px;
      height: 150px;
      padding: 20px;
    }
    .info1 h1 {
      font-size: 15px;
       margin-bottom: 3px;
    }
   .info1 p {
       font-size: 11px;
   
   }
   .info1 h4 {
       font-size: 15px;
       margin-top: 5px;
   }
   .cityInfo>i{
    font-size: 90px;
   }
}

@media only screen and (max-width:745px) and (min-width:540px) {
    #conatiner-main {
        width: 490px;
    }

    #weatherInfoConatiner {
        width: 100%;
        padding: 30px 5px;
    }

    #SearchBox {
        width: 300px;
    }

    #weatherInfoConatiner {
        width: 100%;
        padding: 40px 10px;
    }

    .city {
        width: 200px;
        height: 140px;
        padding: 15px;
        gap: 40px;
    }

    .info1 h1 {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .info1 p {
        font-size: 10px;

    }

    .info1 h4 {
        font-size: 13px;
        margin-top: 5px;
    }

    .cityInfo>i {
        font-size: 80px;
    }
    button{
        font-size: 16px;
        padding: 5px 15px;
        width: 100px;
        height: 50px;
    }
    #form_heading>h1{
        margin-top: 10px;
    }
    #conatiner-main{
    padding: 0px;
    margin: 0px;
    }
    .info2>p{
     font-size: 18px;
    }
}
@media only screen and (max-width:540px) and (min-width:320px) {
    #conatiner-main {
        width: 300px;
    }

    #weatherInfoConatiner {
        width: 100%;
        padding: 15px 3px;
    }

    #SearchBox {
        width: 200px;
    }

    #weatherInfoConatiner {
        width: 100%;
        padding: 20px 5px;
    }

    .city {
        width: 200px;
        height: 140px;
        padding: 15px;
        gap: 40px;


    }

    .info1 h1 {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .info1 p {
        font-size: 12px;

    }

    .info1 h4 {
        font-size: 15px;
        margin-top: 3px;
    }

    .cityInfo>i {
        font-size: 65px;
    }

    button {
        font-size: 13px;
        padding: 5px 1px;
        width: 90px;
        height: 40px;
    }

    #form_heading>h1 {
        margin-top: 6px;
    }

    #conatiner-main {
        padding: 0px;
        margin: 0px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
       
            /* todo change during @media */
        }
   #SearchBox input{
    padding: 4px;
    font-size: 13px;
   }

   #form_heading>h1{
    font-size: 22px;
   }
.info2>p {
    font-size: 16px;
    }
}

